[Unit]
Description=Auto setup & update XJServer
After=network-online.target

[Service]
Type=oneshot
ExecStart=/opt/xjserverscript/xj-autosetup.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
