[Unit]
Description=Auto setup & update XJServer
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash /opt/xjserver/xjserverscript/xj-autosetup.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
