[Unit]
Description=XJServer UDP Listener and Periodic Scan
After=network-online.target xj-autosetup.service
Requires=xj-autosetup.service


[Service]
Type=simple
User=orangepi
WorkingDirectory=/opt/xjserver
Environment="XJSERVER_ENCRYPT_KEY=RzULegZUeKrA7MmeU9rQ6_WBWZ51Ka8xsLVSoMBAKK8="
ExecStart=/opt/xjserver/venv/bin/python -u /opt/xjserver/udp_ip.py
AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_RAW CAP_NET_ADMIN CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target